<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <div class="container">
        <a class="navbar-brand d-flex align-items-center" href="{{ url_for('main.index') }}">
            <i class="fas fa-building me-2"></i>
            <span>Company Portal</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link {% if active_page == 'home' %}active{% endif %}" href="{{ url_for('main.index') }}">
                        <i class="fas fa-home me-1"></i> Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if active_page == 'about' %}active{% endif %}" href="{{ url_for('main.about') }}">
                        <i class="fas fa-info-circle me-1"></i> About
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if active_page == 'services' %}active{% endif %}" href="{{ url_for('main.services') }}">
                        <i class="fas fa-cogs me-1"></i> Services
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if active_page == 'team' %}active{% endif %}" href="{{ url_for('main.team') }}">
                        <i class="fas fa-users me-1"></i> Team
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if active_page == 'careers' %}active{% endif %}" href="{{ url_for('main.careers') }}">
                        <i class="fas fa-briefcase me-1"></i> Careers
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if active_page == 'financials' %}active{% endif %}" href="{{ url_for('financials') }}">
                        <i class="fas fa-chart-line me-1"></i> Financials
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if active_page == 'contact' %}active{% endif %}" href="{{ url_for('contact') }}">
                        <i class="fas fa-envelope me-1"></i> Contact
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
